.map {
  width: 100%;
}

.homeMap {
  width: 100%;
  height: 16rem;
}

@media screen and (min-width: 768px) {
  .homeMap {
    height: 20rem;
  }
}
  


.locationMap{
  width: 100%;
  height: 32rem;
}