.map {
  width: 100%;
}

.homeMap {
  width: 100%;
  height: 16rem;

  z-index: 0;
}

@media screen and (min-width: 768px) {
  .homeMap {
    height: 18rem;
  }
}
  


.locationMap{
  width: 100%;
  height: 32rem;  
}